<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
     h1, h2, h3, h4, h5 {
         font-weight: 700;
     }
     .code {
         padding-top: 2px;
         padding-bottom: 2px;
         padding-left: 15px;
         padding-right: 15px;
         border-radius: 10px;
     }
     pre {
         white-space: pre-wrap;
     }
    </style>
</head>
<body>
    <div class="w3-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
